<!DOCTYPE html>
<html ng-app="ionicApp">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

  <title>FantasyGive</title>

  <link href="http://code.ionicframework.com/nightly/css/ionic.min.css" rel="stylesheet">
  <link href="style.css" rel="stylesheet">

  <script src="http://code.ionicframework.com/nightly/js/ionic.bundle.min.js"></script>
  <script src="js/hello.js"></script>
  <script src="script.js"></script>

</head>

<body>

  <ion-nav-bar class="bar-positive nav-title-slide-ios7">
    <ion-nav-back-button class="button-icon ion-arrow-left-c">
    </ion-nav-back-button>
  </ion-nav-bar>

  <ion-nav-view animation="slide-left-right"></ion-nav-view>

  <script id="sign-in.html" type="text/ng-template">
    <ion-view title="Sign-In">
      <ion-content>
        <div class="list">
          <label class="item item-input">
            <span class="input-label">Username</span>
            <input type="text" ng-model="user.username">
          </label>
          <label class="item item-input">
            <span class="input-label">Password</span>
            <input type="password" ng-model="user.password">
          </label>
        </div>
        <div class="padding">
          <button class="button button-block button-positive" ng-click="login()">
            Login
          </button>
          <p class="text-center">
            <a href="#/forgot-password">Forgot password</a>
          </p>
        </div>
      </ion-content>
    </ion-view>
  </script>

  <script id="forgot-password.html" type="text/ng-template">
    <ion-view title="Forgot Password">
      <ion-content padding="true">
        <p>
          There's no username/password, just click
          the Sign-In button back a the sign-in view.
        </p>
        <p>
          Return to <a href="#/sign-in">Sign-In</a>.
        </p>
      </ion-content>
    </ion-view>
  </script>

  <script id="tabs.html" type="text/ng-template">
    <ion-tabs class="tabs-icon-top tabs-positive">

      <ion-tab title="Scoreboard" icon="ion-ios-americanfootball-outline" href="#/tab/scoreboard">
        <ion-nav-view name="scoreboard-tab"></ion-nav-view>
      </ion-tab>

      <ion-tab title="League" icon="ion-trophy" href="#/tab/league">
        <ion-nav-view name="league-tab"></ion-nav-view>
      </ion-tab>

        <ion-tab title="Charities" icon="ion-android-favorite-outline" href="#/tab/charities">
            <ion-nav-view name="charities-tab"></ion-nav-view>
        </ion-tab>

      <ion-tab title="Profile" icon="ion-ios-person-outline" href="#/tab/profile">
          <ion-nav-view name="profile-tab"></ion-nav-view>
      </ion-tab>

    </ion-tabs>
  </script>

  <script id="scoreboard.html" type="text/ng-template">
    <ion-view title="Scoreboard">
      <ion-content padding="true">
        <p>Welcome to FantasyGive, {{user.name}}!</p>
        <p>
          <a class="button icon icon-right ion-chevron-right" href="#/sign-in">Sign Out</a>
        </p>
      </ion-content>
    </ion-view>
  </script>


  <script id="league.html" type="text/ng-template">
    <ion-view title="League">
      <ion-content padding="true">
          <h3>League info will load here.</h3>
      </ion-content>
    </ion-view>
  </script>

  <script id="charities.html" type="text/ng-template">
      <ion-view title="Charities">
          <ion-content padding="true">
              <h3>Charity info will load here.</h3>
          </ion-content>
      </ion-view>
  </script>

  <script id="profile.html" type="text/ng-template">
      <ion-view title="Profile">
          <ion-content padding="true">
            <h3>Profile info will load here.</h3>
              <a class="button icon ion-chevron-left" href="#/sign-in"> Sign Out</a>
          </ion-content>
      </ion-view>
  </script>

</body>
</html>
